.preview-view {
  width: calc(100vw - 320px);
  height: calc(100vh - 40px);
  background-color: #fff;
  z-index: 0;
  overflow-y: auto;
  overflow-x: hidden;
}
[data-coreui-theme='dark'] {
  .preview-view {
    background-color: #222;
  }
}
